.amount-control {
    display: grid;
    grid-template-columns: 40px minmax(100px, auto) 40px;

    &__input {
        $base-padding: 5px 15px;

        padding: $base-padding;

        box-shadow: 0 1px 2px 0 var(--abbey);

        text-align: center;

        &:focus-visible {
            outline: 1px solid var(--abbey)
        }
    }

    &__less {
        border-radius: 8px 0 0 8px;
    }

    &__more {
        border-radius: 0 8px 8px 0;

        &:active {
            left: 0;
        }
    }
}