.product {
    display: grid;
    align-content: space-between;
    gap: 10px 0;

    min-height: 100%;

    color: var(--base-theme-text);

    &__figure {
       margin: 0; 

       display: grid;
       gap: 10px 0;
       justify-items: center;
    }

    &__title {
        margin: 0;
        padding: 0 10px;
        
        text-align: center;
    }

    &__date {
        padding: 0 10px;
        
        text-align: center;
    }
}