.ui-link {
    $base-padding: 10px;
    $base-color: var(--base-theme-text);

    position: relative;

    display: block;
    padding: $base-padding 0;

    @include reset-link;
    text-align: center;

    color: $base-color;

    &::after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        display: block;
        height: 1px;
        width: 0;

        background-color: var(--base-theme-text);

        transition: width 0.2s ease-in-out;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }

    &:focus-visible {
        outline: 1px solid var(--abbey);
    }
}