.footer {
    $base-bg-color: var(--base-theme-ui);

    background-color: $base-bg-color;

    &__content {
        $base-padding: 10px;

        padding-top: $base-padding;
        padding-bottom: $base-padding;
    }

    &__list {
        flex-direction: column;
        justify-content: space-evenly;

        @include media($wide-mobile) {
            flex-direction: initial;
        }
    }
}