.form {
    padding: 15px;
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;

    border-radius: 8px;

    background-color: var(--base-theme-ui);

    &__fieldset {
        margin: 0;

        border-radius: 8px;
        border-color: var(--base-theme-text);
    }

    &__legend {
        margin-bottom: 15px;
        padding: 0 5px;

        color: var(--base-theme-text);
        text-align: center;
    }

    &__color {
        @include flex-all-c;
        gap: 15px;
    }

    &__comment {
        display: block;
        width: 100%;
        padding: 10px;

        border: none;
        border-radius: 8px;

        font-size: 20px;
        color: var(--base-theme-text);

        &:focus-visible {
            outline: 1px solid var(--base-theme-text);
            outline-offset: 1px;
        }
    }

    &__controls {
        @include flex-all-c;
        flex-wrap: wrap;
        gap: 15px;
    }
}