.page {
    $base-bg-color: var(--base-theme-background);

    display: flex;
    flex-flow: column nowrap;
    height: 100vh;

    background-color: $base-bg-color;

    &__main {
        flex: 1;
    }
}