// Muller
@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  src:
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
}

